html, body {
    background-color: #eee;
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
    text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
footer {
    margin-top: 30px
}
.content .span12,
.content .span4 {
    min-height: 200px;
}
.content .span4 {
    margin-left: 0;
    padding-left: 20px;
}

.captchaLink {
    padding: 10px 0px;
    display: block;
}

.slider-cont{
	position:relative;
	float:left;
	padding:0px;
    height: 275px;
    display: block;
    margin-bottom: 25px;
}

#slider ul {
    list-style: none;
    margin: 0px;
}

#slider ul li{
    height: 275px;
    width: 940px;
}

#prevBtn, #nextBtn{
	position: absolute;
	top: 122px;
	display:block !important;
    margin-left: 8px;
    margin-right: 8px;
	z-index:1000;
}

#prevBtn{left:0;}
#nextBtn{right:0;}

#prevBtn a, #nextBtn a{
	line-height:0; 
	font-size:0; 
	overflow:hidden; 
	text-indent:999px;
	width: 31px;
	height: 31px;
}
#prevBtn a{
	display:block;
	background: url(../images/icon_arrow_left.png) no-repeat 0 -31px;
}
#nextBtn a{
	display:block;
	background: url(../images/icon_arrow_right.png) no-repeat 0 -31px;
}

#prevBtn a:hover, #nextBtn a:hover
{
	background-position: 0 0;
}