body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #555;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    margin: 0px 20px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
    margin: 0px;
    
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
    color: #333;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    backgrdound-color: #999;
    padding: 3px;
    margin-right: 2px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: white;
    background-color: black;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0;
	padding: 5px 8px;
	margin-bottom:15px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.post
{
	margin: 0 0 20px;
}

.post .title
{
	font-size: 1.5em;
	border-bottom: 1px solid #C9E0ED;
}

.post .title a
{
	color: #555;
	text-decoration: none;
}

.post .author
{
	color: #888;
	margin: 0 0 5px;
}

.post .nav
{
	-moz-border-radius:7px;
	padding: 5px;
	background: #EFFDFF;
}

.comment
{
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}

.comment .content
{
	margin: 10px 0;
}

.comment .author
{
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}

.comment .time
{
	color: #888;
	font-size: 0.8em;
}

.comment a.cid
{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}

.comment a.cid:hover
{
	color:#555;
}

.comment .pending
{
	color:red;
}

#content .grid-view table .picture img{
    border: 4px solid #DFDFDF;
    margin: 7px;
    padding: 0px;
}
#content .grid-view table .picture a:hover img{
    border-color: #BDBDBD;
}
#content .grid-view table h1, #content table h2, #content table h3, #content table h4, #content table h5{
    display: inline;
}
#content .grid-view table thead th{
    border-bottom: 1px solid #BDBDBD;
}
#content .grid-view table thead tr th{
    padding: 5px 10px;
    font-weight: bold;
    color: #151515;
    font-size: 1.1em;
}
#content .grid-view table thead tr th a{
    color: #151515;
}
#content .grid-view table tbody tr td{
    vertical-align: middle;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #FFFFFF;
}
#content .grid-view table tbody tr:nth-child(2n+1) td{
    background-color: #F0F0F0;
}
#content .grid-view table tbody tr:hover td{
    background-color: #E0E0E0;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #E2E2E2;
}
#content .grid-view table tbody tr.selected td
{
    background-color: #E0E0E0;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #E2E2E2;
}

#content .grid-view table.noalt tbody tr td{
    background-color: transparent !important;
    border-bottom: 1px solid #DADBDD;
}
#content .grid-view table.noborder tbody tr td{
    border: none;
}
#content .grid-view table tbody tr td img{
    padding-right: 5px;
}
/** Pagination**/
#content .pagination{
    text-align: right;
    margin: 10px 10px 10px 10px;

    /*[empty]border:;*/
}
#content .pagination li
{
    display: inline-block;
    /*[empty]border:;*/
}
#content .pagination a{
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin: 0 1px 0 0;
    border: 1px solid #DAD9D9;
    text-align: center;
    text-decoration: none;
    color: #646161;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}
#content .pagination a.next, #content .pagination a.prev{
    border: 1px solid #FFFFFF;
}
#content .pagination li.selected a, #content .pagination a:hover{
    background: url(img/buttons.png) left -68px;
    border: 1px solid #3580A9;
    /*+text-shadow:0px -1px 0px #2C6AA3;*/
    -moz-text-shadow: 0px -1px 0px #2C6AA3;
    -webkit-text-shadow: 0px -1px 0px #2C6AA3;
    -o-text-shadow: 0px -1px 0px #2C6AA3;
    text-shadow: 0px -1px 0px #2C6AA3;
    color: #D4E6EF;
    font-weight: bold;
}
#content .pagination a.next:hover, #content .pagination a.prev:hover{
    background: none;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    color: #646161;
    font-weight: normal;
    border-color: #F7F7F7;
}