@charset "utf-8";

/*layout*/
.activity-feed { margin-top: -5px; }

/* misc */
.activity-subscribe .icon-rss { float: right; background-position: left center; padding-left: 17px; margin-top: 12px; line-height: 16px; }
