.pvp-header { padding-left: 40px; font-size: 18px; font-weight: normal; letter-spacing: -0.05em; color: #9c3802; width: 330px;float: left;}
.pvp-details { border-top: 1px solid #331304; }
.pvp-item,
.pvp-value { line-height: 22px; height: 22px; padding: 4px 0; }
.pvp-item { float: left; margin-right: 20px; margin-left: 40px; }
.pvp-value { float: right; padding-right: 30px; font-weight: bold; }
.positive { color: #51ab01; }
.negative { color: #a00000; }
.neutral { color: #d2ac00; }

.pvp-title {
color: #FFF9B2;
font-size: 24px;
font-weight: normal;
letter-spacing: -0,05em;
padding-left: 45px;
}
.pvp-title img { width: 24px; height: 24px; padding-top: 4px;}

.pvp-standing { width: 450px; overflow: hidden; padding-left: 40px; padding-top: 10px; padding-bottom: 10px;}
.pvp-bar {
    width: 450px;
    height: 32px;
    background: #542b19 url("/images/wow/character/pvp/bar-background.png") no-repeat 0 0;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.pvp-score {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    z-index: 2;
    position: absolute; top: 8px; left: 0;
    width: 100%;
}
.pvp-fill {
    height: 32px;
    z-index: 1;
    background: url("/images/wow/character/pvp/bar-background.png") no-repeat;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-radius: 3px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
}

.pvp-bar-gold {
    height: 32px;
    z-index: 1;
    background: url("/images/wow/character/pvp/bar-background.png") no-repeat 0 -66px;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-radius: 3px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
}

.profile-wrapper-horde .pvp-fill {
    background-position: 0 -33px;
}

.profile-wrapper-alliance .pvp-fill {
    background-position: 0 -99px;
}
