@charset "utf-8";

/* service bar */
#service-bar #explore-link .dropdown-link { padding: 0 32px 7px 0; }

.post-detail { width:548px; }
.post-info { width:151px; } /* post-info + post-detail = 699 */
.karma .rateup { width:80px }