@charset "utf-8";

#page-header .caption { margin-bottom: 0; }
#page-header .privacy-message { margin: 0; }
.section-box2 { margin-bottom: 0; }
.parent-introduction { padding-bottom: 10px; border-bottom: 1px solid #AFADAC; }
.parent-introduction p:first-child { margin-top: 0; }
.parent-introduction p:last-child { margin-bottom: 0; }
.privacy-message b { color: #000; }
.parent-confirmation,
.country-select { padding-top: 24px; }

.parent-confirmation .inline-message { min-height: 32px; }

.input-left { width: 300px; }
.input-right { max-width: 680px; }

.input-row-text .title-text,
.input-row-text .label-text { max-width: 280px; }

.input-row .input-required { color: #d3d1ce; }

.input-row-note { margin-left: 300px; width: 630px; }
.question-info { margin-top: -24px; margin-bottom: 0; }
.toggle-note .input-note-content { width: 293px; }

.input-row-checkbox .input-left { width: 300px; }
.input-row-checkbox .input-right { width: 680px; }
.input-row-checkbox .label-text { width: 595px; }
.input-row-important .label-text { font-size: 14px; }

.form-blockable { position: relative; z-index: 1; }
.form-block { background: rgba(211, 209, 206, .66); height: 0; padding: 0; position: absolute; top: 0; left: 0; width: 100%; z-index: 2; }

.password-result { display: inline-block; vertical-align: middle; font: normal 13px/24px "Lucida Sans Unicode","Lucida Grande", "Arial", sans-serif; }
.password-rating { display: inline-block; vertical-align: middle; width: 125px; height: 10px; margin: 7px 0; background: #bfbfbf; float: right; }
.password-rating .rating { display: block; height: 10px; width: 0; }
.password-rating .rating-default { width: 0; }
.password-rating .rating-short { width: 25%; background: #8c8c8c; }
.password-rating .rating-weak { width: 50%; background: #ff0000; }
.password-rating .rating-fair { width: 75%; background: #ffc000; }
.password-rating .rating-strong { width: 100%; background: #00b050; }
.password-level { padding-top: 8px; }
.password-level li { line-height: 16px; margin: 0 0 2px 0; font-size: 11px; }
.password-level li .icon-16 { background-position: -160px -96px; vertical-align: top; }
.password-level li.pass .icon-16 { background-position: -176px -96px; }
.password-level li.fail .icon-16 { background-position: -160px -112px; }
.password-level li .icon-16-label { width: 320px; }
.password-level li.fail .icon-16-label { color: #730202; }
.password-result strong.fail { color: #730202; }

.radio-tabs { display: block; }
.radio-tab { display: inline-block; vertical-align: bottom; margin: 0 8px 0 0; padding: 0 16px 0 0; }
.radio-tab.selected-tab { background: #fff; }
.radio-tab .label-text { color: #777; }
.radio-tab.selected-tab  .label-text { color: #222; }

.account-creation-agegating { color: #0b8820; }

.submit-row .disabled { cursor: not-allowed; }

/* success page */
.account-success { background-image: url("../../images/icons/email-verification.gif"); background-repeat: no-repeat; background-position: 32px 32px; margin-bottom: 0; padding: 24px 32px 24px 128px; }
.account-success .headline,
.account-success .subcategory { margin: 0; }
.account-success p { margin: .5em 0 0 0; }
.account-verification .headline { font-size: 22px; }
.account-name { margin: 24px 0; word-wrap: break-word; }
.account-details .caption { color: #8d8d8d; }
.parent-info { margin-top: 16px; font-weight: bold; }
.parent-info strong { color: #393939; }
.section-buttons { margin-top: 3em; }

/* localization overrides */
.it-it .inline-note,
.pl-pl .inline-note ,
.ru-ru .inline-note{ width: 308px; line-height: 16px; }
.it-it .inline-note .caption,
.pl-pl .inline-note .caption,
.ru-ru .inline-note .caption { line-height: 16px; }
.it-it .password-rating { width: 90px; }
.pl-pl .password-rating,
.ru-ru .password-rating { width: 60px; }
.zh-cn #creation { padding-top: 24px; }