<?php

define('DB_HOST', 'localhost');
define('DB_USER', 'root');
define('DB_PASS', '');
define('DB_NAME', 'armory');

define('DB_CHARS_HOST', 'localhost');
define('DB_CHARS_USER', 'root');
define('DB_CHARS_PASS', '');
define('DB_CHARS_NAME', 'chars');

define('DB_WORLD_HOST', 'localhost');
define('DB_WORLD_USER', 'root');
define('DB_WORLD_PASS', '');
define('DB_WORLD_NAME', 'zp_world'); 
